<hr>
<strong>Empleado estrella:</strong>
<br><br>
<div *ngIf="trabajadorExterno == true">
    <button (click)="cambiarExterno(false)">Mostrar Empleado</button>
    <ul>
        <li>{{trabajadores[1].nombre}}</li>
        <li>{{trabajadores[1].edad}}</li>
        <li>{{trabajadores[1].cargo}}</li>
        <li *ngIf="trabajadores[1].contratado == true">Está contratado</li>
        <li *ngIf="trabajadores[1].contratado == false">NO está contratado</li>
    </ul>
</div>
<div *ngIf="trabajadorExterno != true">
    <button (click)="cambiarExterno(true)">Mostrar trabajador</button>
    <ul>
        <li>{{empleado.nombre}}</li>
        <li>{{empleado.edad}}</li>
        <li>{{empleado.cargo}}</li>
        <li *ngIf="empleado.contratado == true">Está contratado</li>
        <li *ngIf="empleado.contratado == false">No está contratado</li>
    </ul>
</div>

<hr />

<h3>Listado de empleados</h3>
<ul>
    <li *ngFor="let empleado of trabajadores; let i = index">
        <strong>Empleado {{i+1}}:</strong>
        <ul>
            <li>{{empleado.nombre}}</li>
            <li>{{empleado.edad}}</li>
            <li>{{empleado.cargo}}</li>
            <li *ngIf="empleado.contratado == true">Está contratado</li>
            <li *ngIf="empleado.contratado == false">No está contratado</li>
        </ul>
    </li>

</ul>
<hr />
<h3>Colores switch</h3>
<ul [ngSwitch]="color">
    <li *ngSwitchCase="'red'" [ngStyle]="{background:color, 
        'color':'white',
        'padding':'15px'
    }">
        Es de color rojo
    </li>
    <li *ngSwitchCase="'blue'" [ngStyle]="{background:color, 'color':'white', 'padding':'15px'}">Es de color azul</li>
    <li *ngSwitchCase="'green'" [ngStyle]="{background:color, 'color':'white', 'padding':'15px'}">Es de color verde</li>
</ul>
<hr />
<h3>Selector de colores</h3>
<button (click)="logColorSeleccionado()">Log Color</button>
<input type="text" [(ngModel)]="colorSeleccionado"/>
<!--
    [class.fondoAzul]="colorSeleccionado == 'blue'"
    [ngClass]="{
        fondoAzul: colorSeleccionado == 'blue',
        fondoVerde: colorSeleccionado == 'green',
        letraGrande: 1 == 1
    }"    
-->
<pre [style.border]="colorSeleccionado == 'red' ? '5px solid black' : '3px solid green'"
    [ngClass]="{
        fondoAzul: colorSeleccionado == 'blue',
        fondoVerde: colorSeleccionado == 'green'
    }"    
>
    <strong>Color Elegido</strong>
    {{colorSeleccionado}}
</pre>

<div [ngStyle]="{background:colorSeleccionado, 'color':'white', 'width':'200px', 'height':'200px', 'float':'right', 'margin-right':'50%'}"></div>
<div style="clear:both"></div>